["core.clj"
 "enemy.png"
 "enemy_hurt.wav"
 "entities.clj"
 "grass.png"
 "level.tmx"
 "pine1.png"
 "pine2.png"
 "pine3.png"
 "player.png"
 "player_death.wav"
 "player_hurt.wav"
 "stash.png"
 "tower.png"
 "utils.clj"
 "wagon.png"]