["core.clj"
 "enemy_down.png"
 "enemy_hurt.wav"
 "enemy_left_stand.png"
 "enemy_left_walk.png"
 "enemy_up.png"
 "entities.clj"
 "level.tmx"
 "player_death.wav"
 "player_down.png"
 "player_hurt.wav"
 "player_left_stand.png"
 "player_left_walk.png"
 "player_up.png"
 "tiles.png"
 "utils.clj"]