body {
	font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
	color: #c1cbc2;
}

a {
	color: #0099ff;
}

.name {
	margin-top: 5px;
	margin-bottom: 5px;
}

.content {
}

.item {
	
}

.clj {
	
}

.c-head {
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 10px;
}

.c-doc {
	
}

.c-src {
	
}

.java {
	background: #444444;
}

.j-text {
	margin-bottom: 5px;
}

.j-item {
	margin-bottom: 10px;
}

.j-name {
	font-weight: bold;
}

.j-args {
	margin-left: 5px;
}

.j-arg {
	
}

.j-type {
	opacity: 0.5;
}

.j-doc {
}
